:root {
  --primary-color-50: #6c63ff;
  --primary-color-60: #5750dd;
  --heading-font-family: "Playfair", serif;
  --font-family: sans-serif, "poppins";
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --base-font-size: 18px;
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  line-height: 100%;
}
.page-restriction{
    max-width: 1240px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1,
.h1 {
  color: black;
  font-size: 92px;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.hero p {
  font-family: var(--font-family);
  font-size: 24px;
  opacity: 0.7;
  font-weight: normal;
}

.hero {
  text-align: center;
  min-height: 30vh;
  align-content: center;
}

.hero .subtitle {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.1;
}
.flex {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.gap-lg {
    gap: 32px;
}

button,
.btn,
.button {
  background-color: var(--primary-color-50);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  width: fit-content;
  padding: 16px 44px;
  gap: 10px;
}

button:hover,
.btn:hover,
.button:hover {
  background-color: var(--primary-color-60);
  color: white;
  cursor: pointer;
}
.square-contain {
  width: 250px;
  height: 340px;
  margin: 80px;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.about-section{
  padding: 160px 15px ;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
    font-size: 18px;
    font-family: var(defult-font-family);
}
.about-section-content {
    margin: 20px;
}
.btn-branding-outline {
  background-color: white;
  border-radius: 4px;
  color: var(--primary-color-60);
  border: 1px solid var(--primary-color-50);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .container {
    max-width: 1140px;
}

}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
